.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Используем фиксированное позиционирование */
    top: 0; /* Сверху */
    left: 0; /* Слева */
    right: 0; /* Справа */
    bottom: 0; /* Снизу */
    z-index: 1000; /* Установите достаточно большое значение z-index, чтобы он был поверх других элементов */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон, если нужно */
}

.loading-spinner {
    border: 5px solid rgba(255, 255, 255, 0.3); /* Цвет и размер границы */
    border-top: 5px solid blue; /* Цвет верхней границы, определяющий цвет спиннера */
    border-radius: 50%;
    width: 50px; /* Размер спиннера */
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
