.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота контейнера, можно изменить по вашему усмотрению */
}

.loading-spinner {
    border: 5px solid rgba(255, 255, 255, 0.3); /* Цвет и размер границы */
    border-top: 5px solid blue; /* Цвет верхней границы, определяющий цвет спиннера */
    border-radius: 50%;
    width: 50px; /* Размер спиннера */
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
