.body {
    display: flex;
    flex-direction: column;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    text-align: center;
}

.copy-button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}