.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body p {
    margin: 5px;
    padding: 10px; /* Отступы вокруг адреса */
    text-align: center;
}

.copy-button {
    display: flex;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    margin-top: 110px;
}

.copy-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.qr-code {
    border-radius: 10px; /* или любое другое значение */
    overflow: hidden; /* чтобы обрезать части, выходящие за пределы скругления */
}

.icon_copy {
    background-color: var(--tg-theme-button-color);
}