.h2 {
    font-size: 1.3rem; /* Размер шрифта */
    font-weight: bold; /* Жирность текста */
    text-align: center; /* Выравнивание текста */
    margin: 20px 0; /* Отступы сверху и снизу */
    display: flex; /* Использование Flexbox */
    flex-direction: column; /* Элементы выстраиваются в колонку */
    align-items: center; /* Выравнивание элементов по центру */
    color: var(--tg-theme-text-color); /* Цвет текста */
}

.balance {
    display: flex;
    justify-content: center;
    margin: 5px 0; /* Отступы для каждого div */
    font-size: 3rem; /* Размер шрифта для баланса */
}