.transactions-list {
    display: flex;
    flex-direction: column;

}

.transaction-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--tg-theme-bg-color);
}

.transaction-details div {
    margin-bottom: 8px;
    font-size: 14px;
}

.transaction-id {
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса сверху */
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-top: 5px; /* Добавляем отступ сверху, чтобы текст не прилипал к полосе */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}

.senders {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}
.recipients {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}

.conformation {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}

.data_time {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}

.span_show_transactions {
    display: inline-block;
    color: var(--tg-theme-link-color);
    font-size: 0.9rem;
    cursor: pointer;
}

.confirmation-yes {
    color: green;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}

.confirmation-no {
    color: red;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}
