.transactions-list {
    display: flex;
    flex-direction: column;

}

.transaction-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--tg-theme-bg-color);
}

.transaction-details div {
    margin-bottom: 8px;
    font-size: 14px;
}

.transaction-id {
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса сверху */
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color); /* Горизонтальная полоса снизу */
    padding-top: 5px; /* Добавляем отступ сверху, чтобы текст не прилипал к полосе */
    padding-bottom: 5px; /* Добавляем отступ снизу, аналогично */
}

