.tradingview-widget-container {
    width: 100%;  /* или фиксированная ширина, например 600px */
    height: 100%; /* или любая другая высота, подходящая для вашего дизайна */
    overflow: hidden; /* скрыть прокрутку, если она все еще появляется */
}
