
.wallet {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Или другой подходящий размер */
    margin: auto;
    padding: 20px;
}

.wallet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


.currencies {
    margin-top: 20px;
}

.transaction-history {
    margin-top: 20px;
}

.currency {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--tg-theme-text-color);
    color: var(--tg-theme-text-color);
}

