* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.Toastify__toast-container {
  background: transparent; /* Сделать фон прозрачным */
}

.body_second{
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 1px solid var(--tg-theme-link-color);

}
