
.button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05); /* увеличение размера кнопки */
    opacity: 0.9; /* Немного уменьшаем прозрачность */
}

.button:active {
    transform: scale(1); /* уменьшение размера кнопки */
}

.button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}