.invalid-text {
    color: red;
}

.span_delete {
    display: inline-block;
    font-size: 0.9rem;
    cursor: pointer;
    justify-content: flex-start;
    color: var(--tg-theme-link-color);
    margin-left: 10px;
}