.send-bitcoin-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;

}

.balance-section {
    margin-bottom: 20px;
}



label {
    color: var(--tg-theme-text-color);
    display: block;
    margin-top: 2px;

}

input {
    background: var(--tg-theme-secondary-bg-color);
    width: 100%;
    border: 1px solid var(--tg-theme-hint-color); /* Рамка вокруг адреса */
    padding: 5px; /* Отступы вокруг адреса */
    color: var(--tg-theme-text-color);
}
.h2 {
    color: var(--tg-theme-text-color);
    margin-bottom: 20px;
}

