.success-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавление тени */
    border-radius: 8px; /* Скругленные углы */
    background: var(--tg-theme-secondary-bg-color); /* Фоновый цвет */
}

.success-header {
    color: var(--tg-theme-text-color);
    margin-bottom: 20px;
}

.success-txid {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-secondary-bg-color);
    border: 1px solid var(--tg-theme-hint-color);
    padding: 10px;
    width: 100%;
    word-break: break-all;
    margin-bottom: 20px;
    border-radius: 4px; /* Скругленные углы */
}

.success-icon {
    font-size: 48px;
    color: green;
    margin-bottom: 20px;
}

.send-bitcoin-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: var(--tg-theme-secondary-bg-color);
}

.balance-section {
    margin-bottom: 20px;
}

label {
    color: var(--tg-theme-text-color);
    display: block;
    margin-top: 10px;
}

.input {
    background: var(--tg-theme-secondary-bg-color);
    width: 100%;
    height: 40px;
    border: 1px solid var(--tg-theme-hint-color);
    padding: 5px;
    color: var(--tg-theme-text-color);
    margin-top: 2px;
    border-radius: 4px; /* Скругленные углы */
}

.h2 {
    color: var(--tg-theme-text-color);
    margin-bottom: 20px;
}

.invalid-text {
    color: red;
}